 

 <%= form_for @wiki do |f| %>
    
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', placeholder: "Enter post title" %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter post body" %>
  </div>
  
  <% if current_user.admin? || current_user.premium? %>
    <div class="form-group">
      <%= f.label :private, class: 'checkbox' do %>
        <%= f.check_box :private %> Private wiki
      <% end %>
    </div>
  <% end %>
  
  <%# if !current_user.role == 'standard'%>
    <h5>Addtional Collaborator:</h2>
    <div>
      <%= f.fields_for :collaborators do |collaborator_form|%>
        <%= render 'collaborator_fields', f: collaborator_form, locals: { wiki: @wiki} %>
      <%end%>
    </div>
    <div>
      <%= link_to_add_association 'Add collaborator', f, :collaborators , class: "btn btn-primary" %>
    </div>
  <%#end%>
  <div class="form-group">
    <%= f.submit "Save", class: 'btn btn-success save-button' %>
  </div>
<% end %>
</div>